<% if(locals.user.id === meetup.host.id) { %>
  <a class="btn btn-primary" href="/meetups/<%= meetup.id %>/edit">Edit</a>
  <form method="POST" action="/meetups/<%= meetup.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">Delete</button>
  </form>
<% } else { %>
  <form method="POST" action="/meetups/<%= meetup.id %>/attend">
    <button class="btn btn-success">Attend</button>
  </form>
<% } %>
<img src="<%= meetup.imageSRC %>" class="img-fluid">
<p><%= meetup.name %></p>
<p>Description: <%= meetup.description %></p>
<p>Requirements: <%= meetup.requirements %></p>
<p>Food: <%= meetup.food %></p>
<p>Location: <%= meetup.location %></p>
<p>Host: <%= meetup.host.username %></p>
<p>Users Remaining: <%= meetup.usersRemaining() %></p>
<p>Attendees: <% meetup.attendees.forEach((attendant) => { %>
  <strong><%= attendant.username %></strong>
<% }) %></p>
<input type="hidden" name="lat" value="<%= meetup.lat %>">
<input type="hidden" name="lng" value="<%= meetup.lng %>">
<div id="map"></div>
