<h1>Yo what up profile page</h1>
<p><%= locals.user.username %></p>
<p><%= locals.user.email %></p>

<h2>Hosting</h2>
<% hosting.forEach((hosting) => { %>
  <p><a href="/meetups/<%= hosting.id %>" style="color: black;"><%= hosting.name %></a></p>
<% }) %>

<h2>Attending</h2>
<% attending.forEach((attending) => { %>
<p><a href="meetups/<%= attending.id %>" style="color: black;"><%= attending.name %></a></p>
<% }) %>
