<h2>Profile Page</h2>
<div class="row profileRow">
  <div class="col-6"><h3>Hosting</h3></div>
  <div class="col-6"><h3>Attending</h3></div>
</div>
<div class="row">
  <div class="col-6">
    <% hosting.forEach((hosting) => { %>
      <form class="row align-items-center" method="GET" action="meetups/<%= hosting.id %>">
        <div class="col">
          <button class="profileHost"><img src="<%= hosting.imageSRC %>" class="profileImg"><%= hosting.name %></button>
        </div>
      </form>
      <div class="row align-items-center profileEdit">
        <form class="col" method="POST" action="meetups/<%= hosting.id %>">
        <a href="meetups/<%= hosting.id %>/edit" class="hostEdit">Edit</a>
          <input type="hidden" name="_method" value="DELETE">
          <button class="hostDel">DELETE</button>
        </form>
      </div>
    <% }) %>
  </div>
  <div class="col-6">
    <% attending.forEach((attending) => { %>
      <form class="row align-items-center" method="GET" action="meetups/<%= attending.id %>">
        <div class="col">
          <button class="profileBtns"><img src="<%= attending.imageSRC %>" class="profileImg"><%= attending.name %></button>
        </div>
      </form>
    <% }) %>
  </div>
</div>
<form class="row" method="POST" action="/profile">
  <div class="col">
    <input type="hidden" name="_method" value="DELETE">
    <button id="deleteBtn">DELETE ACCOUNT</button>
  </div>
</form>
